@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: "Rubik", sans-serif;
  line-height: 1;
}

header {
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgb(34, 34, 34, 0.6)),
    url(img/hero.jpg);
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
  padding-top: 32px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
}

.header-container-inner {
  width: 50%;
}

h1 {
  font-size: 52px;
  line-height: 1.05;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  background: #e67e22;
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  text-decoration: none;
}

section {
  padding: 96px 0;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}
